<main id="root">If you are seeing this, React is broken!</main>

<script type="text/javascript">
    window.logoUrl = "<%= image_url('logo.png') %>"
</script>

<script type="text/javascript">
    window.profileUrl = "<%= image_url('profile-icon.png') %>"
</script>
