footer.register-footer{
    border-top: 10px solid rgba(128, 128, 128, 0.178);
    background-color: black;
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;


}
footer.signup-footer{
    border-top: 1px solid rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.178);
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}

footer.login-footer{
       background: image_url("netflix_background_image.jpeg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(8, 8, 8, 0.644); // Tint color
    background-blend-mode: multiply;
    height: 100%;
    border-top: 10px solid rgba(128, 128, 128, 0.178);
    background-color: rgba(0, 0, 0, 0.644);
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}

#github{
    color: white;
    padding-top: 30px;
    padding-left: 80px;
}

.github{
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

.github:hover{
    color: rgba(255, 0, 0, 0.815);
}

.loggedin-footer{
    border-top: 1px solid rgba(128, 128, 128, 0.178);
    background-color:#131313;
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}