.list-header{
    font-size: 30px;
    padding-top: 24px;
    padding-left: 50px;
    color: white;
    position: absolute;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-results{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 48px;
}