.modal-child{
     position: absolute;
    align-self: center;
    width: 90vh;
    background: #131313;;
//    transform: translate(0px, -200px);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.509), 0 8px 16px rgba(0, 0, 0, 0.509);
   border-radius: 10px;
    z-index: 100;
    flex-shrink: 0;
    
}

.modal-background{
   position: absolute;
 
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-video{
    height: 50%;
	width: 100%;
    border-radius: 1px;
    object-fit: fill;
    // position: absolute;
}


@media only screen and (max-height: 1150px) {
    .modal-child{
        // transform: translate(0px, -300px);
    }

}


@media only screen and (max-height: 830px) {
    .modal-child{
        // transform: translate(0px, -400px);
    }

}
@media only screen and (max-height: 700px) {
    .modal-child{
        // transform: translate(0px, -500px);
    }

}

.modal-info{
    color: white;
    font-family: sans-serif ;
    font-weight: 100;
    width: 100%;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    margin-bottom: 0;
    transform: translateY(-30%);
    .modal-left{
        // width: 50%;
        padding: 20px;
        float: left;
        .title{
            padding-bottom: 20px;
        }
        .year{

        }
        .description{
            overflow-wrap: break-word;
        }

    }

    .modal-right{
        float: right;
        // width: 30%;
        padding: 20px;
        padding-right: 70px;
        .director{
            padding-bottom: 20px;
        }
        .genres{

        }
    }
}

.video {
    .options{
        position: absolute;
        bottom: 20%;
        left: 10px;
    }
    .play-button{
    width:60px;
    transform: translateY(-100%) ;
    }
    .list-button{
    width: 58px;
    transform: translateY(-100%) ;
    color: white;
    }
}
.modal-sound{
    position: absolute;
    top: 67%;
    right: 5%;
}

