header.register-nav-bar{
     display: flex;
    justify-content: space-between;
    padding: 40px 0px 20px 0px ;
    // background: inherit;
    background: image-url("netflix_background_image.jpeg")  no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(8, 8, 8, 0.644); // Tint color
    background-blend-mode: multiply;
    position: absolute;
    width: 100%;
    z-index: 3;
    
}


img.register-nav-bar{
    width: 170px;
    height: 60px;
    padding: 0px 20px 20px 0px ;
    margin-left: 100px;
}

div > a.register-nav-bar{
    font-family: Arial, Helvetica, sans-serif;
    // font-weight: lighter;
    color: white;
    font-size: 17px;
    text-decoration: none;
    height: 10px;
}

header > div > div.register-nav-bar{
    background-color:	#E50914;
    height: 10px;
    padding: 10px 17px 17px 17px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

div.demo-div{
    display: flex;
    height: 40px;
    margin-right: 100px;
}

button.demo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background-color:	#E50914;
    width: 90px;
    height: 39px;
    padding: 10px 0 10px 0;
    margin-right: 5pc;
    border-radius: 4px;
    display: inline-block;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;

}

div > div.register-nav-bar:hover{
    background-color: rgba(255, 0, 0, 0.815);
}
button.demo:hover{
    background-color: rgba(255, 0, 0, 0.815);
}

  
// nav signup css

header.signup-nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 0px 40px ;
    background: inherit;
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.178);
    position: absolute;
    width: -webkit-fill-available;
    z-index: 3;
}

img.signup-nav-bar{
    width: 150px;
    height: 40px;
    padding: 0px 20px 20px 0px ;
}

div > a.signup-nav-bar{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.856);
    font-size: 20px;
    text-decoration: none;
    height: 10px;


}

header > div > div.signup-nav-bar{
    // background-color:	#E50914;
    height: 10px;
    padding: 10px 17px 17px 17px;
    display: flex;
    justify-content: center;
    border-radius: 4px;

}

div > a.signup-nav-bar:hover{
    text-decoration: underline;
    cursor: pointer;
}

// login
header.login-nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 20px 0px ;
    background: inherit;
    background: image-url("netflix_background_image.jpeg")  no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(8, 8, 8, 0.644); // Tint color
    background-blend-mode: multiply;
    position: absolute;
    width: 100%;
    z-index: 3;
}


img.login-nav-bar{
    width: 150px;
    height: 40px;
    padding: 0 0 0 40px;
}

// signed in
header.logged-in-nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px ;
    border-bottom: 2px solid rgba(128, 128, 128, 0.178);
    background: rgba(0, 0, 0, 0.644);
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-bottom: 10px;
}

img.logged-in-nav-bar{
    width: 150px;
    height: 40px;
    padding: 0 0 0 40px;
}

.profile{
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

.caret{
    // display: none;
    color: white;
    transition: 0.3s;
    transform: translate(10px,13px);
}

.dropdown-button {
  background: transparent;
  color: white;
  font-size: 20px;
  border: none;

}

.profile-dropdown {

    display: flex;
    justify-content: center;
    margin-right: 50px;
    position: absolute;
    cursor: pointer;

}

.dropdown-content {
  display: none;
  position: absolute;
  background: transparent;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  transform: translateX(27px);
}

.signout-button{
    position: relative;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.726);
    color: white;
    width: 150px;
    border: none;
    height: 50px;
    margin-top: 4em;
    margin-right: 20px;
    z-index: 100;
    transition: 0.3s;
    transform: translateX(-27px);
    cursor: pointer;
}


.profile-dropdown:hover .dropdown-content {display: block;}
.profile-dropdown:hover .caret {transform: rotate(180deg) translate(-10px,10px) scaleX(-1);}

.signout-button:hover{
    background:black;
    color: rgba(255, 0, 0, 0.815);
}
.github-button{
    position: relative;
    bottom: 100%;
    background: rgba(0, 0, 0, 0.726);
    color: white;
    width: 150px;
    border: none;
    height: 50px;
    z-index: 100;
    // margin-top: 4em;
    margin-right: 20px;
    transition: 0.3s;
    transform: translate(-27px);
    cursor: pointer;
    &:hover{
            background:black;
    color: rgba(255, 0, 0, 0.815);
    }
}

.no-nav-bar{
    display: none;
}

.left-side-nav-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    transform: translateX(-130px);
}

.search-bar-div{
    padding-right: 10px;
    position: fixed;
    right: 235px;
    z-index: 5;
    top: 1vh;
}


.open-search-bar{
display: inline;
    background: transparent;
    border-color: white;
    transform: translate(76px, 3px);
    height: 28px;
    border-style: outset;
    border-left: none;
    outline: none !important;
     padding-left: 10px;
        color: white;
    &:focus{
        outline: none;
         color: white;
         padding-left: 10px;
    }
}
.closed-search-bar{
      display: none;

    
}
.search-button-closed-search-bar{
  display: inline;
    background: transparent;
        transform: translate(105px, 3px);
    height: 34px;
    position: fixed;
    border: none;
    outline: none !important;
    z-index: 4;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}
.search-button-open-search-bar{
    // position: inherit;
    outline: none !important;
    background: transparent;
    /* border: none; */
    border-left-color: white;
    border-bottom-color: white;
    border-top-color: white;
    border-style: outset;
    position: fixed;
    border-right: none;
    cursor: pointer;
    height: 34px;
    color: white;
    transform: translate(46px, 3px);
        &:focus{
        outline: none;
       
    }
}

.home-link{
    color: white;
    padding: 10px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.list-link{
    color: white;
    text-decoration: none;
      &:hover{
        text-decoration: underline;
    }
}
.links{
   transform: translateY(14px);
    padding-left: 10px;
     font-family: Arial, Helvetica, sans-serif;
}

.leftnav{
    display: flex;
   
}
