.register{
    display: flex;
    justify-content: center;

}

h1{
    color: white;
     display: flex;
    justify-content: center;
    font-size: 100px;
}
h2{
    color: white;
     display: flex;
    justify-content: center;
}

h4{
    color: white;
     display: flex;
    justify-content: center;
}
h6{
    color: white;
     display: flex;
    justify-content: center;
}

.register-email{
    display: flex;
    justify-content: center;

}

div.register-email > button{
    color: white;
    background-color: #E50914;
}