div.signin-div{
     background: image_url("netflix_background_image.jpeg")  no-repeat center center fixed;
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(8, 8, 8, 0.644);
    padding: 100px;
}


form.signin-form{
    display: inline-block;
    text-align: center;
    width: 450px;
    height: 530px;
    background-color: rgba(0, 0, 0, 0.644);;
    border-radius: 7px;
    margin: 2em;
    margin-bottom: 4em;
    position: relative;
}

form > h2.signin-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: white;
    text-align: left;
    padding: 30px 0 0 43px;
}

.signin-email{
    
    font-size: 20px;
    color: white;
    height: 50px;
    width: 370px;
    border: none;
    border-radius: 4px;
    background-color: #555555;
    margin-top: 1em;
    margin-bottom: 1em ;
    padding: 10px; 
    &:focus{
        outline: none;
    }
}
.signin-password{

    font-size: 20px;
    color: white;
    height: 50px;
    width: 370px;
    border: none;
    border-radius: 4px;
    background-color: #555555;
    margin-bottom: 2em ;
    padding: 10px; 
    &:focus{
        outline: none;
    }
}
.signin-button{
    font-size: 23px;
    font-weight: 100;
    color: white;
    background-color: #E50914;
    width: 370px;
    height: 55px;
    margin-top: 1em;
    border: inherit;
    border-radius: 4px;
    cursor: pointer;
}
.signin-button:hover{
    background-color: rgba(255, 0, 0, 0.815);
}

.signin-password::-webkit-input-placeholder, .signin-email::-webkit-input-placeholder {
  color: darkgray;
  font-size: 20px;
}

.signin-p{
    
    // text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    display: inline-block;
    margin-right: 5px;
}

.signin-link{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    height: 10px;

    display: inline-block;
}

div.link{

    padding: 50px 0 0 43px;
    text-align: left;
    // padding: 0 0 0px 40px;
}

.signin-link:hover{
    text-decoration: underline;
}




