// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
     // background-image: url("netflix_background_image.jpeg");
    background: image_url("netflix_background_image.jpeg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(8, 8, 8, 0.644); // Tint color
    background-blend-mode: multiply;
    height: 100%;
}
body{
    height: 100%;
}
#root{
    height: 100%;
}

.main-div{
    height: 100%;
}

.between-header-footer{
    height: 75%;
    display: flex;
    justify-content: center;
    padding: 20;
}

footer.register-footer{
    border-top: 10px solid rgba(128, 128, 128, 0.178);
    background-color: black;
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}
footer.signup-footer{
    border-top: 1px solid rgba(128, 128, 128, 0.178);
    background-color: rgba(128, 128, 128, 0.178);
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}

footer.login-footer{
    border-top: 10px solid rgba(128, 128, 128, 0.178);
    background-color: rgba(0, 0, 0, 0.644);
    height: 15%;
    position: fixed;
    min-width: 100%;
    bottom: 0;
}
