// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
     // background-image: url("netflix_background_image.jpeg");
    // background: image_url("netflix_background_image.jpeg")  no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    // background-color: rgba(8, 8, 8, 0.644); // Tint color
    // background-blend-mode: multiply;
    height: 100%;
     background: #131313;
}
body{
    height: 100%;
}
#root{
    height: 100%;
}

.main-div{
    height: 100%;
    position: relative;
}

.between-header-footer{
    // height: 100%;
    display: flex;
    justify-content: center;
    min-height: 85%;
    position: relative;
}

ul.signup-errors{
    margin-top: 10px;
}
ul.signin-errors{
    margin-top: 50px;
    margin-left: 30px;
    width: 400px;
    background: rgb(255, 208, 0);
    border-radius: 5px;
}

li.signup-errors{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
li.signin-errors{
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

